.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.slider {
  border: 1px solid rgb(251, 192, 0);
  overflow: hidden;
  width: 835px;
  padding: 10px;
}

.results {
  display: flex;
  gap: 10px;
  /* padding: 10px; */
}
