.container {
  animation-name: scale;
  animation-duration: 0.2s;
}

.container h2 {
  margin-top: 0;
  color: goldenrod;
  font-size: xx-large;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: scale(0.6);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: scale(0.7);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: scale(0.8);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: scale(0.9);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
