.container {
  display: grid;
  grid-template-columns: 20px 8fr 20px;
  grid-template-rows: 100px 450px 100px 1fr 100px;
  grid-template-areas:
    "colors buttons ."
    ". principal ."
    ". search ."
    ". results ."
    ". . .";
  min-height: 100vh;
  background-color: var(--background);
  width: 100vw;
}
.startScreen {
  grid-area: buttons;
  grid-row-end: 6;
  grid-column-end: 4;
}

.buttons {
  grid-area: buttons;
}

.colors {
  grid-area: colors;
}

.principal {
  grid-area: principal;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}

.search {
  grid-area: search;
}

.results {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-area: results;
}
