.container {
  display: grid;
  grid-template-columns: 20px 8fr 20px;
  grid-template-rows: 100px 450px 100px 1fr 100px;
  grid-template-areas:
    ". buttons ."
    ". principal ."
    ". search ."
    ". results ."
    ". . .";
  min-height: 100vh;
  background-color: #4d1486;
  /* background-color: #1a202c; */
  width: 100vw;
}

.buttons {
  grid-area: buttons;
  /* background-color: #4d1486; */
}

.principal {
  grid-area: principal;
  /* background-color: #4d1486; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}

.search {
  grid-area: search;
  /* background-color: #4d1486; */
}

.results {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-area: results;
  /* background-color: #1a202c; */
  /* background-color: #4d1486; */
}
