.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  --text: var(--text-shadow-color);
  margin-top: 0;
  color: var(--font-color);
  font-size: xx-large;
  text-shadow: 2px 0 0 var(--text), -2px 0 0 var(--text), 0 2px 0 var(--text),
    0 -2px 0 var(--text), 1px 1px var(--text), -1px -1px 0 var(--text),
    1px -1px 0 var(--text), -1px 1px 0 var(--text);
}
