.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: scale;
  animation-duration: 0.2s;
}

.container h2 {
  --text: var(--text-shadow-color);
  margin-top: 0;
  color: var(--font-color);
  font-size: xx-large;
  text-shadow: 2px 0 0 var(--text), -2px 0 0 var(--text), 0 2px 0 var(--text),
    0 -2px 0 var(--text), 1px 1px var(--text), -1px -1px 0 var(--text),
    1px -1px 0 var(--text), -1px 1px 0 var(--text);
}

@keyframes scale {
  0% {
    transform: scale(0.5);
    animation-timing-function: ease-in-out;
  }
  20% {
    transform: scale(0.6);
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: scale(0.7);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: scale(0.8);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: scale(0.9);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
