.container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-right: 5px;
  filter: var(--filter);
  background-color: var(--result-back);
}

.default {
  background-image: url("../../imgs/no-results-found.png");
}

.fav {
  background-image: url("../../imgs/no\ favorite.png");
}
