.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.container div {
  font-size: x-large;
  background-color: goldenrod;
  padding: 8px;
  border-radius: 5px;
}

.container div:hover {
  cursor: pointer;
  background-color: black;
  color: goldenrod;
  -webkit-box-shadow: 0px 0px 6px 1px black;
  box-shadow: 0px 0px 6px 1px black;
}
